header 
    position: relative
    
    nav
        position: absolute
        top: 0 
        height: 130px
        width: 100%
        .menu
            width: 1160px
            display: flex
            flex-direction: space-between
            z-index: 5
            img 
                width: 96px
                height: 100px
                margin-right: 55px
                margin-top: 23px
            ul 
                list-style: none
                display: flex
                flex-direction: row
                justify-content: space-between
                margin-top: 60px
                margin-right: 50px
                a 
                    height: 15px
                    padding: 0 15px
                    font-size: 15px
                    font-weight: 400
                    color: #ffffff
                    text-decoration: none
                    border-right: dotted 1px white
                    cursor: pointer 
                a:hover 
                    color: #ec644b
                    text-decoration: underline  
                a:nth-child(6) 
                    border-right: none
                    padding-right: 0
                a:nth-child(1)
                    padding-left: 0
.first
    padding: 132px 0 82px 0
    min-height: 700px
    background: url("../img/bg1.jpg") center center/cover no-repeat
    h3 
        color: #ffffff
        font-size: 24px
        font-weight: 300
        text-align: center
        margin-bottom: 26px
    h1 
        color: #ec644b
        font-size: 68px
        font-weight: 700
        text-transform: uppercase
        text-align: center
        margin-bottom: 9px
    h2 
        color: #ffffff
        font-size: 42px
        text-transform: uppercase
        text-align: center
    &_divider
        width: 810px
        display: flex
        flex-direction: row
        justify-content: space-around
        margin: 0 auto
        .dot
            height: 17px
            width: 17px
            background-color: white
            border-radius: 50%
            display: block
            margin: 0 auto
            text-align: center
            margin: 38px 11px 27px 11px
        span 
            display: block
            width: 400px
            height: 2px
            background-color: white
            margin-top: 44px
    .service
        display: flex
        flex-direction: row
        justify-content: space-around
        align-content: center
        margin-top: 75px
        &_item
            width: 255px
            &_icon
                display: block
                width: 64px
                height: 48px
                margin: 0 auto
            &_descr
                color: #ffffff
                font-size: 16px
                font-weight: 300
                line-height: 22px
                text-align: center
                margin-top: 19px
    button 
        display: block
        margin: 0 auto
        margin-top: 39px
        width: 230px
        height: 57px
        background-color: #ec644b
        border-radius: 30px
        border: none
        color: #ffffff
        font-size: 15px
        font-weight: 700
        text-transform: uppercase
.benefits
    height: 590px
    background-color: #f3f3f3
    padding: 58px 0 51px 0
    h1 
        color: #2e2e2e
        font-size: 26px
        font-weight: 700
        text-transform: uppercase
        text-align: center
        margin-bottom: 31px
    &_list
        width: 1100px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
        &_item 
            width: 480px
            display: flex
            flex-direction: row
            margin-right: 62px
            img 
                width: 60px
                height: 60px
                margin-right: 17px
            p 
                color: #3a3a3a
                font-size: 14px
                font-weight: 300
                line-height: 22px    
            span 
                color: #ec644b
                font-size: 16px
                font-weight: 700
.our_work
    padding: 51px 0 57px 0
    &_list
        width: 1140px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 37px
        &_item 
            width: 360px 
.china_agent
    background: url("../img/bg2.jpg") center center/cover no-repeat
    height: 342px
    padding: 58px 0 75px 0
.prices
    height: 952px
    padding: 52px 0 80px 0
    &_list 
        width: 1140px
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 34px
        &_item 
            position: relative
            width: 265px
            height: 355px
            border: 1px solid #e9e9e9
            padding-bottom: 25px
            .prices_title
                height: 61px
                color: #ffffff
                font-size: 16px
                font-weight: 700
                line-height: 55px
                text-transform: uppercase
                text-align: center
                background-color: #25333c
            img 
                display: block
                margin: 0 auto
                margin-top: 14px
            .prices_subtitle
                color: #2e2e2e
                font-size: 14px
                font-weight: 400
                text-transform: uppercase
                margin-top: 12px
                text-align: center
            span 
                color: #ec644b
                font-size: 24px
                line-height: 40px
                text-align: center
            .prices_text
                color: #2e2e2e
                font-size: 14px
                font-weight: 300
                line-height: 20px
                margin-top: 19px
                text-align: center
            button 
                position: absolute
                display: block
                margin: 0 auto
                width: 160px
                height: 45px
                background-color: #ec644b
                border-radius: 30px
                border: none
                bottom: 22px
                left: 53px
                color: #ffffff
                font-size: 12px
                font-weight: 400
                line-height: 22.04px
                text-transform: uppercase
    h3 
        color: #3a3a3a
        font-size: 28px
        font-weight: 400
        line-height: 23px
        text-align: center
        margin-top: 56px
    .order
        position: relative
        width: 1140px
        height: 166px
        border-right: solid 1px #898989
        border-left: solid 1px #898989
        margin-top: 71px
        padding-top: 65px
        &_img
            display: block
            position: absolute
            left: 45.5%
            top: -28%
        &:before
            content: ""
            display: block
            position: absolute
            top: 0
            width: 500px
            height: 1px
            background-color: #898989
            line-height: 20px
        &:after
            content: ""
            display: block
            position: absolute
            top: 0
            right: 0
            width: 500px
            height: 1px
            background-color: #898989
            line-height: 20px
        &_forms
            width: 824px
            display: flex
            justify-content: space-around
            margin: 0 auto
            input 
                width: 268px
                height: 45px
                border: solid 1px #898989
                border-radius: 20px
                padding-left: 15px
        &_button
            display: block
            position: absolute
            left: 42%
            bottom: -14% 
            width: 180px
            height: 45px
            background-color: #ec644b
            border-radius: 30px
            border: none
            color: #ffffff
            font-size: 12px
            font-weight: 400
            line-height: 22.04px
            text-transform: uppercase
            &:before
                content: ""
                display: block
                position: absolute
                bottom: 50%
                left: 110%
                width: 463px
                height: 0.5px
                background-color: #898989
                line-height: 20px
            &:after
                content: ""
                display: block
                position: absolute
                bottom: 50%
                right: 109%
                width: 463px
                height: 0.5px
                background-color: #898989
                line-height: 20px
.managers
    background: url("../img/bg3.png") center center/cover no-repeat
    height: 342px
    padding: 58px 0 75px 0
.scheme
    height: 584px
    background-color: #f3f3f3
    padding: 51px 0 46px 0
    &_list
        wid
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        &_item
            width: 247px
            margin-right: 36px
            img 
                display: block
                margin: 0 auto
            .item_title
                margin-top: 12px
            .item_text
                margin-top: 6px
.feedback
    padding: 51px  0 65px 0
    &-carousel
        margin-top: 20px
        img 
            display: block
            margin: 0 auto
        &_text
            width: 550px
            color: #3a3a3a
            font-size: 14px
            font-weight: 300
            line-height: 22.01px
            text-align: center
            span 
                font-size: 18px
                font-weight: 700
        .slick-prev, .slick-next  
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 350px
            border: none
            background-color: #fff
            img 
                width: 21px
                height: 40px
        .slick-next  
            right: 350px
            left: auto
.contacts
    position: relative
    height: 438px
    padding: 62px 0 79px 0
    &_bg
        display: block
        position: absolute
        background: url("../img/bg4.jpg") center center/cover no-repeat
        top: 0
        width: 100%
        height: 100%
        z-index: -2    
    &_form
        position: relative
        display: block
        margin: 0 auto
        width: 896px
        height: 297px
        &_item
            display: flex
            justify-content: space-around
            margin: 0 auto
            margin-top: 18px
        input 
            width: 268px
            height: 45px
            border: solid 1px #898989
            border-radius: 20px
            padding-left: 15px 
    &_title
        color: #ffffff
        font-size: 19px
        font-weight: 700
        text-transform: uppercase
        text-align: center
        line-height: 20px
        height: 68px
        background-color: #25333c
        padding-top: 20px
        z-index: 4
        span 
            color: #ffffff
            font-size: 14px
            font-weight: 400
            text-transform: uppercase
            text-align: center
    .message 
        display: block
        margin: 0 auto
        margin-top: 8px
        width: 813px
        height: 71px
        border: 1px solid rgba(0, 0, 0, 0.21)
        background-color: #ffffff
        border-radius: 10px
    &_button 
        display: block
        margin: 0 auto
        margin-top: 17px
        width: 180px
        height: 45px
        background-color: #ec644b
        border-radius: 30px
        border: none
        color: #ffffff
        font-size: 12px
        font-weight: 400
        line-height: 22.04px
        text-transform: uppercase
    .contacts_form::after
        content: ""
        display: block
        background: url("../img/bg5.jpg") center center/cover no-repeat
        background-color: #ffffff
        opacity: 0.7
        width: 100%
        height: 100%
        top: 0
        position: absolute
        z-index: -1
.map
    height: 500px
    position: relative
    iframe 
        width: 100%
        height: 100%
    img 
        display: block
        width: 51px
        height: 53px
        position: absolute
        left: 50%
        top: 50%
        z-index: 2
    .adress 
        display: block
        padding: 23px 50px
        width: 329px
        height: 158px
        background: url("../icons/adress.png") center center/cover no-repeat
        position: absolute
        left: 53%
        top: 40%
        z-index: 2
        color: #3a3a3a
        font-family: Roboto
        font-size: 14px
        font-weight: 300
        line-height: 20px
        span 
            color: #ec644b
            font-size: 16px
            font-weight: 700
        a 
            color: #ec644b
            font-weight: 300
footer 
    height: 201px
    background-color: #25333c
    padding: 24px 0 28px 0
    .footer_contact
        display: flex
        margin-bottom: 26px
        img 
            width: 68px
            height: 71px
            margin-right: 43px
        &_descr 
            color: #ffffff
            font-size: 16px
            font-weight: 700
            line-height: 20px
            margin-top: 34px
            margin-right: 200px
        .contact
            margin-top: 18px
            &_button
                margin-top: 18px 
    .footer_rest
        display: flex
        &_site
            opacity: 0.6
            color: #ffffff
            font-size: 13px
            font-weight: 300
            line-height: 17px
            margin-top: 32px
            margin-right: 323px
        &_policy
            color: #ec644b
            font-family: Roboto
            font-size: 13px
            font-weight: 300
            line-height: 17px
            text-decoration: underline
            margin-top: 32px
            margin-right: 456px
        &_creation
            opacity: 0.6
            color: #ffffff
            font-size: 13px
            font-weight: 300
            line-height: 17px
            margin-top: 32px
            margin-right: 10px
        img 
            width: 30px
            height: 32px
            opacity: 0.78
            margin-top: 20px
    

