* 
    margin: 0
    font-family: Roboto, sans-serif
.container 
    display: block
    margin: 0 auto
.title
    color: #2e2e2e
    font-size: 26px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    margin-bottom: 31px
.subtitle
    color: #2e2e2e
    font-family: Roboto
    font-size: 21px
    font-weight: 300
    line-height: 24px
    text-align: center
@import 'general'